<p id="notice"><%= notice %></p>

<p>
  <b>Tittle:</b>
  <%= @topic.tittle %>
</p>
<p>
	<b>ID:</b>
	<%=@topic.id %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
